@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lost and Found</h1>
    <p class="lead">Lost and Found is a logging program to help keep track of lost and found items.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2
        <p>
            First things first, you need to sign your property up with our program in order to start logging everything lost and found related.
        </p>
        <p><a class="btn btn-default" href="">Register your property &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customization</h2>
        <p>Add your own information and logins as a property administrator, allowing you to have as many different storage locations and details as you need.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>All online</h2>
        <p>All of the lost and found data is stored on the internet, so you can access all of the logs from anywhere you might need to.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>